
#ag {
margin-left: 800px;
margin-top: 300px;
}

#blist{
list-style-type: none;
margin: 0;
padding: 0;
position:fixed;
bottom: 0;
background-color: blue;
}
.lie{
display:block;
text-align:center;
padding:14px 16px;
text-decoration: none;



}
.lie2{

display:block;
text-align:center;
padding: 14px 16px;
text-decoration: none;

}




